# Deny-list
*

# Allow-list
!.gitignore
!go.mod
!go.sum
!main.go
!README.md
!templates
!pkg
!pkg/**
!config.sample.yml
!plugins
!plugins/**
!build.sh
!build
!build/**

# Afterallow deny-list
plugins/**/*.so